<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo15</title>
</head>
<body>
	<div id="app">
		<!-- v-else -->
		<p v-if="ok">ok</p>
		<p v-else>not ok</p>

		<!-- 条件组 -->
		<!-- 如果我们想切换多个元素呢？此时我们可以把一个<template> 元素当做包装元素，并在上面使用 v-if。最终的渲染结果不会包含 <template> 元素 -->
		<template v-if="ok">
			<h1>条件组</h1>
			<p>条件组</p>
		</template>	

		<!-- v-else-if -->
		<p v-if="type === 'A'">A</p>
		<p v-else-if="type === 'B'">B</p>
		<p v-else-if="type === 'C'">C</p>
		<p v-else>Not A,B,C</p>
	</div>
</body>
</html>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data:{
			ok:true,
			type:'A'
		}
	})
</script>



